// 首页暖黄色
//:root {
//    --body-bg-color: #f9dbb647;
//}


.post-body h1, .post-body h2 {
    box-shadow: inset 0 -0.6em 0 #ffeb88;
}


// 文章阴影
.post {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 25px;
    -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
    -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}



